#homeBase{

    border-radius:50%;
    position:absolute;
    width:100px;
    height:100px;


    background-color:gold;
    border-color:black;
    border-style:solid;
}

html, body{

    height:100%;

    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
    background: linear-gradient(to bottom, #160174, #e6e9f0); /* Subtle gradient from white to light grey */
    background-attachment: fixed; /* Keeps the background stationary during scroll */
    font-family: 'Roboto', sans-serif; /* A modern, readable font */
    color: #333; /* A dark color for text that ensures readability */
}


#viewPort{

    height: 80%;
    width: 80%;
    position:relative;
    margin-top:50px;
    margin-right:auto;
    margin-left:auto;
    border: solid 2px black;


    background-image: url('../assets/backgrounds/bg1.png'); /* Sets the background image */
    background-size: cover; /* Cover the entire area of the box */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background from repeating */
}

#weaponField{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

#topBar {
    display: flex;
    justify-content: left;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e); /* Mimics a night sky */

    color: #fff;
    padding: 10px; /* Adds some spacing around the content */
    font-family: 'impact'; /* A futuristic font, make sure to include this in your HTML or CSS @import */
    border-bottom: 3px solid #ff5f00; /* Adds a "laser" like bottom border */
    position: relative;
    overflow: hidden; /* Ensures nothing spills out of the navbar */
}

#topBar button {
    background: linear-gradient(to right, #4b6cb7, #182848); /* A deep space-inspired gradient */
    color: #ffffff; /* Bright text to stand out */
    border: 1px solid #5e72e4; /* A futuristic border color */
    border-radius: 5px; /* Soften the edges */
    padding: 10px 20px; /* Add some space inside */
    font-size: 16px; /* Make text readable */
    cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    position: relative; /* Needed for pseudo-elements */
    overflow: hidden; /* Keeps pseudo-elements contained within the button */
}

#topBar button:hover {
    background: linear-gradient(to right, #182848, #4b6cb7); /* Reverse gradient on hover */
    border-color: #8898aa; /* Change border color on hover for effect */
}

.topBarItem{

    margin-right:10px;
    margin-left:10px;
}