<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Grid Drawing</title>
<style>
canvas {
  border: 1px solid black;
}
#toolbox {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f4f4f4;
  padding: 10px 0;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.2);
  display: flex;
  justify-content: left;
}

#toolbox button {
  margin: 0 5px;
}

.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 15px;
  border-radius: 15px;
  pointer-events: none; /* Ensures the tooltip does not interfere with mouse events */
  display: none; /* Initially hide the tooltip */
}

</style>
</head>
<body>
<canvas id="canvas" width="500" height="500"></canvas>
<div id="tooltip" class="tooltip"></div>

<div id="toolbox">
  <button onclick='change_button("1")'>Button 1</button>
  <button onclick='change_button("2")'>Button 2</button>
  <button onclick='change_button("3")'>Button 3</button>
  <button onclick='redirect_page()'>Redirect</button>
  <button onclick='drawBoard()'>Refresh</button>
  <button onclick='load_line()'>Conveyer</button>

</div>

<script>
const canvas = document.getElementById('canvas');
const ctx = canvas.getContext('2d');

//-----------------------Globals-----------------------------------

let bounds = ""
var startX = 0;
var startY = 0;
var mouseX = 0;
var mouseY = 0;
var startObj = null;
var endObj = null;
var isDrawing = false;
var existingLines = [];
const item_coords = [];
const pixel_size = 20; // Size of the grid cell

var tooltip = document.getElementById("tooltip");


// canvas dim, rounded to not cut off cells
canvas.width = Math.round(window.innerWidth * .99 / pixel_size) * pixel_size;
canvas.height = Math.round(window.innerHeight * .89 / pixel_size) * pixel_size;

box0 = {x: 0, y:0, color:"white"}
box1 = {x: 2, y:2, color:"blue"}
box2 = {x: 8, y: 2, color:"red"}
box3 = {x: 6, y: 14, color:"green"}
curr_box = box1

//-----------------------Game funct-----------------------------------

const drawBoard = () => {
  // clear the canvas before a redraw
  ctx.clearRect(0, 0,
                canvas.width, canvas.height);
  
  for (let x = 0; x <= canvas.width + pixel_size; x += pixel_size) { // draw board
    for (let y = 0; y <= canvas.height + pixel_size; y += pixel_size) {
      ctx.strokeStyle = "black";
      ctx.strokeRect(x, y, pixel_size, pixel_size);
    }
  }

  item_coords.forEach(stored_item => {    // redraw all items
    //console.log(stored_item) 
    drawRect(stored_item.x, stored_item.y, stored_item.width, stored_item.height, stored_item.color, false)
  });
  
  ctx.strokeStyle = "black";
  ctx.lineWidth = 2;
  ctx.beginPath();
  
  for (var i = 0; i < existingLines.length; ++i) { // redraw conveyors
    var line = existingLines[i];
    // console.log("STORED LINE OBJECTS: ", line.obj_1, line.obj_2);
    ctx.moveTo(line.startX,line.startY);
    ctx.lineTo(line.endX,line.endY);
  }
  
  ctx.stroke();
};

const drawRect = (x, y, len, width, color, new_box=true) => {
  ctx.fillStyle = color;
  //console.log('Clicked pos rect: ', x, y); // check console on web 

  // Check if any object conflicts with where we clicked for new 
  conflict = false;
  if (new_box){
    conflict = placement_conflict(x, y)
  }
  console.log(conflict)
  // only create a rect and store it if no conflict
  if (!conflict) {
    ctx.fillStyle = color;
    ctx.fillRect(x * pixel_size, y * pixel_size, 
               pixel_size * len, pixel_size * width);
  
    // store rect here (top left corner, and its width and height)
    const item = {
          x: x,
          y: y,
          width: len,
          height: width,
          color: color,
          connectors: 0,
          tooltipText: "Rectangle is " + color, // temporary textbox per item
          tooltipVisible: false
      };

    // Push rectangle object to the array
    // Check if any object conflicts with where we clicked for new 
    if (new_box){
      item_coords.push(item);
    }
  }
};

const placement_conflict = (x, y) => {
  // make an arbitrary rect for new item
  r_x = x + curr_box.x - 1; 
  b_y = y + curr_box.y - 1;
  // console.log("Curr box: ", x, y, r_x, y, x, b_y, r_x, b_y);

  // conflict: right x-coords are > grid right boundary (grid's max x)
  if (r_x > right_grid_boundary_x) {
    return true;
  }

  // conflict: lower y-coords < the grid bottom boundary (grid's max y)
  if (b_y > bottom_grid_boundary_y) {
    return true;
  }

  // conflict with existing items
  conflict = false;

  item_coords.forEach(stored_item => {    
    r_x2 = stored_item.x + stored_item.width - 1; 
    b_y2 = stored_item.y + stored_item.height - 1;

    // console.log("existing box: ", stored_item.x, stored_item.y, r_x2, stored_item.y, stored_item.x, b_y2, r_x2, b_y2);

    // conflict when curr_box inhibits an exisiting box
    if (!(x > r_x2 || r_x < stored_item.x)) { 
      if (!(y > b_y2 || b_y < stored_item.y)) {
        conflict = stored_item;
      }
    }
  });

  return conflict;
};

const round_to_grid = (coord) => {
  return Math.floor(coord / pixel_size);
};

const dump_obj = () => { // adapt this later to send objects somewhere else or reload them
  item_coords.forEach(stored_item => {    
    console.log(stored_item.x, stored_item.y, stored_item.curr_box.x, curr_box.y)
  });
};

canvas.addEventListener('click', (event) => {
  const rect = canvas.getBoundingClientRect();
  bounds = canvas.getBoundingClientRect();
  const x = event.clientX - rect.left;
  const y = event.clientY - rect.top;

  const gridX = round_to_grid(x);
  const gridY = round_to_grid(y);

  drawRect(gridX, gridY, curr_box.x, curr_box.y, curr_box.color);
});

canvas.addEventListener('click', (event) => { // mouse click on object
  const rect = canvas.getBoundingClientRect();
  bounds = canvas.getBoundingClientRect();
  const x = event.clientX - rect.left;
  const y = event.clientY - rect.top;

  const gridX = round_to_grid(x);
  const gridY = round_to_grid(y);

  let found_obj = click_in_box(gridX, gridY);

  if (found_obj) { // create textbox if hit object
    if (!(found_obj.tooltipVisible)) {
      tooltip.style.display = "block";
      tooltip.textContent = found_obj.tooltipText;
      tooltip.style.left = event.clientX + 10 + "px";
      tooltip.style.top = event.clientY + 10 + "px";
      found_obj.tooltipVisible = true;
    } else { // enable textbox removal on double click
      found_obj.tooltipVisible = false;
      tooltip.style.display = "none";
    }
    
  } else { // when we click off box, disable textbox, adjust this later?
    tooltip.style.display = "none";
  }
});

//-----------------------Starting grid-----------------------------------

drawBoard(); // instantiate board

// get borders of grid
const right_grid_boundary_x = round_to_grid(canvas.width) - 1;
const bottom_grid_boundary_y = round_to_grid(canvas.height) - 1;

//-----------------------Other functs-----------------------------------

function change_button(x) {
  unload_line()
  console.log(x)
  if (x === "1") {
    curr_box = box1
  } else if (x === "2") {
    curr_box = box2
  } else if (x === "3") {
    curr_box = box3
  }
}

function redirect_page() {
  console.log("Redirecting...")
  window.location.href='/';
}

function draw() {
  drawBoard();
  
  if (isDrawing) {
    ctx.strokeStyle = "darkred";
    ctx.lineWidth = 3;
    ctx.beginPath();
    ctx.moveTo(startX,startY);
    ctx.lineTo(mouseX,mouseY);
    ctx.stroke();
  }
}

function click_in_box(x, y) { // detect mouse inside of existing objects
  let clicked = false;
  item_coords.forEach(stored_item => { 
    if ((x >= stored_item.x && x <= (stored_item.x + stored_item.width - 1)) && (y >= stored_item.y && y <= (stored_item.y + stored_item.height - 1))) {
      clicked = stored_item; // return the item if valid
    }       
  });

  return clicked;
}

function onmousedown(e) {
  if (hasLoaded && e.button === 0) {
    if (!isDrawing) {
      startX = e.clientX - bounds.left;
      startY = e.clientY - bounds.top;
      
      s_X = round_to_grid(startX);
      s_Y = round_to_grid(startY);

      console.log("CHECK MOUSE DOWN: ", s_X, s_Y);
      valid_start = click_in_box(s_X, s_Y); // only draw if selecting conveyor from valid obj
      if (valid_start) {
        startObj = valid_start; 
        isDrawing = true;
      }
    }
    draw();
  }
}

function onmouseup(e) {
  if (hasLoaded && e.button === 0) {
    if (isDrawing) {
      // only finish line if endpoint is valid obj
      let valid_line_end = click_in_box(round_to_grid(mouseX), round_to_grid(mouseY));  
      if (valid_line_end && valid_line_end != startObj) {
        // create line and store objects it connects
        existingLines.push({
        startX: startX,
        startY: startY,
        endX: mouseX,
        endY: mouseY,
        obj_1: startObj,
        obj_2: valid_line_end
        });
        
        startObj.connectors += 1; // increment connectors for obj (don't exceed max for an obj)
        valid_line_end.connectors += 1;
        
        startObj = null; // reset
        endObj = null;
      }
      isDrawing = false;
    } 
    draw();
  }
}

function onmousemove(e) {
  if (hasLoaded) {
    mouseX = e.clientX - bounds.left;
    mouseY = e.clientY - bounds.top;
    
    if (isDrawing) {
      draw();
    }
  }
}

function load_line() {
  curr_box = box0
  canvas.onmousedown = onmousedown;
  canvas.onmouseup = onmouseup;
  canvas.onmousemove = onmousemove;
  
  hasLoaded = true; 
}

function unload_line() {
  canvas.onmousedown = false;
  canvas.onmouseup = false;
  canvas.onmousemove = false;
  
  hasLoaded = true; 
}

</script>
</body>
</html>
