<!--
Author: Shianne Marbley
File: newGame.html
NOTES: must use static url method to reference photos
-->
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Space Defenders</title>
    <script src="{{ url_for('static', filename='game.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='game.css') }}">
</head>
<body>
        <h1><strong> This is a Template for the actual game</strong></h1><br>
        <h2><strong>  In order to play the demo of our game follow these Instructions:
            <br> - Follow this file path : sprint2/code/src/space defenders demo
            <br> - Once in there open main.html in any browser to play the demo version of our game
            <br> - Our demo shows our tower defense concept of the game 
            <br></strong></h2>

            <h3><strong> In the future we will merge everything so that the game is accessible from the home page.</strong></h3>
        <button class="btn" type="button" onclick="window.location.href='/';"
        style="background-color:rgb(219, 223, 222); border-radius:5px; border-width:thin; font-size:15px;">Back Home</button>

    <div id = "topBar">

        <button class="topBarItem" onclick="mainFunc()">Play Game</button>
        <button class="topBarItem" onclick="placeTower()">Place Tower</button>

        <p class="topBarItem" id="scoreBoard">Score: 100</p>

    </div>

    <div id = "viewPort">

        <canvas id="weaponField"></canvas>
    
        <div id="homeBase" style="top:50%;
        left:90%;">
        
    
        </div>

    </div>

</body>
</html>