<!--
Author: Shianne Marbley
File: newGame.html
NOTES: must use static url method to reference photos
-->
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Space Defenders</title>
    <script src="{{ url_for('static', filename='game.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='game.css') }}">
</head>
<body>

    <div id = "topBar">

        <button class="topBarItem" onclick="mainFunc()">Play Game</button>
        <button class="topBarItem" onclick="placeTower()">Place Tower</button>

        <p class="topBarItem" id="scoreBoard">Score: 100</p>

    </div>

    <div id = "viewPort">

        <canvas id="weaponField"></canvas>
    
        <div id="homeBase" style="top:50%;
        left:90%;">
        
    
        </div>

    </div>

</body>
</html>