<!--
Author: Shianne Marbley
File: newGame.html
NOTES: must use static url method to reference photos
-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset ="utf-8">
        <style>
            body{
                background-color: rgb(106, 121, 132);
            }
        </style>
    </head>
    <body>
        <h1><strong> This is a Template for a new game Page</strong></h1>
        <button class="btn" type="button" onclick="window.location.href='/';"
        style="background-color:rgb(219, 223, 222); border-radius:5px; border-width:thin; font-size:15px;">Back Home</button>

    </body>
</html>